@model Malacar.Models.Car

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/car-delete.css">
<h3>Delete Car</h3>
<hr />
<div>
    <div class="container-fluid">
        <dl class="row">
            <div class="col-6">
                <dt class="col-sm-12 pinkC">
                    @Html.DisplayNameFor(model => model.Plate)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Plate)
                </dd>
                <dt class="col-sm-12 pinkC">
                    @Html.DisplayNameFor(model => model.Class)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Class)
                </dd>
                <dt class="col-sm-12 pinkC">
                    @Html.DisplayNameFor(model => model.Brand)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Brand)
                </dd>
                <dt class="col-sm-12 pinkC">
                    @Html.DisplayNameFor(model => model.Model)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Model)
                </dd>
                <dt class="col-sm-12 pinkC">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-12 pinkC">
                    @Html.DisplayNameFor(model => model.Location)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Location)
                </dd>
                <dt class="col-sm-12 pinkC">
                    @Html.DisplayNameFor(model => model.Motorization)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Motorization)
                </dd>
                <dt class="col-sm-12 pinkC">
                    @Html.DisplayNameFor(model => model.Year)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Year)
                </dd>
            </div>
            <div class="col-6">
                <dt class="col-sm-12 pinkC">
                    @Html.DisplayNameFor(model => model.DealsAppearance)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.DealsAppearance)
                </dd>
                <dt class="col-sm-12 pinkC">
                    @Html.DisplayNameFor(model => model.Color)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Color)
                </dd>
                <dt class="col-sm-12 pinkC">
                    @Html.DisplayNameFor(model => model.Seats)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Seats)
                </dd>
                <dt class="col-sm-12 pinkC">
                    @Html.DisplayNameFor(model => model.Mileage)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Mileage)
                </dd>
                <dt class="col-sm-12 pinkC">
                    @Html.DisplayNameFor(model => model.RentedCounter)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.RentedCounter)
                </dd>
                <dt class="col-sm-12 pinkC">
                    @Html.DisplayNameFor(model => model.DoorsNumber)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.DoorsNumber)
                </dd>
                <dt class="col-sm-12 pinkC">
                    @Html.DisplayNameFor(model => model.TimeBorrowed)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.TimeBorrowed)
                </dd>
                <dt class="col-sm-12 pinkC">
                    @Html.DisplayNameFor(model => model.Availability)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Availability)
                </dd>
            </div>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="CarId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
    <a asp-action="Index"><img src="~/Images/back-arrow.png" style="width:3%; margin-left: 15%" alt="Back to List"></a>

</div>
