@model IEnumerable<Malacar.Models.Car>

@{
    ViewData["Title"] = "Manage Cars";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/css/Cars.css" />
<p style="margin-top:50px;padding-left: 160px;">
    <a asp-action="Create"><img class="outsideEl" src="~/Images/addButton.png" /></a>
</p>
<div class="card">
    <table class="table">
        <thead style="vertical-align:bottom;">
            <tr class="trA">
                <th>
                    @Html.DisplayNameFor(model => model.Plate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Class)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Plate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CarId"><img class="imgBtn" src="~/Images/pencil.png"></a>
                        <a asp-action="Details" asp-route-id="@item.CarId"><img class="imgBtn" src="~/Images/detail.png"></a>
                        <a asp-action="Delete" asp-route-id="@item.CarId"><img class="imgBtn" src="~/Images/negative.png"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
