@model Malacar.Models.Rental

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/station-delete.css">
<h3>Delete Rental</h3>
<hr />
<div>
    <div class="container-fluid">
        <dl class="row">
            <dt class="col-sm-12 pinkC">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-12 pinkC">
                @Html.DisplayNameFor(model => model.PickUpLocation)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.PickUpLocation)
            </dd>
            <dt class="col-sm-12 pinkC">
                @Html.DisplayNameFor(model => model.DropOffLocation)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.DropOffLocation)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="RentalId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
    <a asp-action="Index"><img src="~/Images/back-arrow.png" style="width:3%; margin-left: 15%" alt="Back to List"></a>
</div>
